<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DuckDNS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/duckdns.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='style/logo.ico') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='style/logo.png') }}" alt="Logo" class="logo">
            </a>
            <h1>Getting Started</h1>
            <div class="menu-icon" id="menu-icon" onclick="toggleNav()">
                <img src="{{ url_for('static', filename='icons/menu.svg') }}" alt="Menu" class="icon menu">
                <img src="{{ url_for('static', filename='icons/close.svg') }}" alt="Close" class="icon close">
            </div>
        </div>
        <nav id="navbar">
            <a href="{{ url_for('duckdns') }}" class="text-white mr-4">
                <img src="{{ url_for('static', filename='icons/start.svg') }}" alt="Start Icon" class="nav-icon">Getting Started
            </a>
            <a href="{{ url_for('downloads') }}" class="text-white">
                <img src="{{ url_for('static', filename='icons/download.svg') }}" alt="Download Icon" class="nav-icon">Downloads
            </a>
            <a href="{{ url_for('vpn') }}" class="text-white">
                <img src="{{ url_for('static', filename='icons/vpn.svg') }}" alt="VPN Icon" class="nav-icon">How to use it?
            </a>
        </nav>
    </header>
    <div class="overlay" id="overlay"></div>

    <main>
        <!-- Block 1: DuckDNS -->
        <div class="duckdns-block">
            <img src="{{ url_for('static', filename='icons/one.svg') }}" alt="Step 1" class="step-icon">
            <div class="block-header" onclick="toggleDescription('duckdns', this)">
                <img src="{{ url_for('static', filename='style/duckdns_logo.png') }}" alt="DuckDNS Logo" class="logo">
                <span>DuckDNS</span>
                <img src="{{ url_for('static', filename='icons/arrow_down.svg') }}" alt="Arrow Down" class="arrow">
            </div>
            <div class="block-content" id="duckdns">
                <p>DuckDNS is a free dynamic DNS service that allows you to point a domain to your home IP address, making it easy to access your home network from anywhere. <a href="https://www.duckdns.org/login" target="_blank">Login to DuckDNS</a>.</p>
            </div>
            <img src="{{ url_for('static', filename='icons/question.svg') }}" alt="Question Icon" class="question-icon-centered" onclick="showAlert('This step helps you set up DuckDNS, which allows you to assign a domain to your home IP address for easy access.')">
        </div>

        <!-- Spacer -->
        <div class="spacer"></div>

        <!-- Block 2: MyHouseVPN -->
        <div class="myhousevpn-block">
            <img src="{{ url_for('static', filename='icons/two.svg') }}" alt="Step 2" class="step-icon">
            <div class="block-header" onclick="toggleDescription('myhousevpn', this)">
                <img src="{{ url_for('static', filename='style/logo.png') }}" alt="MyHouseVPN Logo" class="logo">
                <span>Start MyHouseVPN</span>
                <img src="{{ url_for('static', filename='icons/arrow_down.svg') }}" alt="Arrow Down" class="arrow">
            </div>
            <div class="block-content" id="myhousevpn">
                <form action="/run_script" method="post" class="sign-form" onsubmit="return validateDuckDNSDomain()">
                    <input type="text" id="myhousevpn_host_subdomains" name="myhousevpn_host_subdomains" title="DuckDNS Domain" placeholder="DuckDNS Domain" required><br>
                    <input type="text" id="myhousevpn_token" name="myhousevpn_token" title="DuckDNS Token" placeholder="DuckDNS Token" required><br>
                    <button type="submit" class="icon-button">
                        <img src="{{ url_for('static', filename='icons/start.svg') }}" alt="Start MyHouseVPN">
                    </button>
                </form>
            </div>
            <img src="{{ url_for('static', filename='icons/question.svg') }}" alt="Question Icon" class="question-icon-centered" onclick="showAlert('This step allows you to start and configure your MyHouseVPN device by using the DOMAIN and TOKEN from your DuckDNS registration.')">
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <a href onclick="myhousevpn_web()"><img src="{{ url_for('static', filename='style/logo_v2.png') }}" alt="MyHouseVPN LOGO V2"></a>
            <h3><p>“Securing Your Digital Future Today”</p></h3>
        </div>
    </footer>

    <!-- Custom alert dialog -->
    <div id="customAlert" class="custom-alert">
        <p id="alertMessage"></p>
        <button onclick="closeCustomAlert()">OK</button>
    </div>

    <script>
        function toggleNav() {
            var navbar = document.getElementById('navbar');
            var menuIcon = document.getElementById('menu-icon');
            var overlay = document.getElementById('overlay');
            navbar.classList.toggle('expanded');
            menuIcon.classList.toggle('open');
            overlay.classList.toggle('active');
        }

        function openDuckdns() {
            window.open('https://www.duckdns.org', '_blank');
        }

        function myhousevpn_web() {
            window.open('https://www.myhousevpn.com/', '_blank');
        }

        function toggleDescription(id, header) {
            var content = document.getElementById(id);
            content.classList.toggle('visible');
            var arrow = header.querySelector('.arrow');
            arrow.classList.toggle('rotate');
        }

        // Validate DuckDNS domain input
        function validateDuckDNSDomain() {
            var domainInput = document.getElementById('myhousevpn_host_subdomains').value;
            var invalidSuffix = '.duckdns.org';

            if (domainInput.includes(invalidSuffix)) {
                showAlert('Please enter only the domain name, without ".duckdns.org".');
                return false;  // Prevent form submission
            }

            return true;  // Allow form submission
        }

        // Show custom alert with the message
        function showAlert(message) {
            document.getElementById('alertMessage').innerText = message;
            document.getElementById('customAlert').style.display = 'block';
        }

        // Close custom alert
        function closeCustomAlert() {
            document.getElementById('customAlert').style.display = 'none';
        }
    </script>
</body>
</html>
